ul { 
    list-style: none;
    display: inline;
}

li {
    float: left;
    padding-left: 16px;
}

li a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

body{
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header, .footer, .main .blue-main {
    display: flex;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding-left: 100px;
    padding-right: 100px;
}

.header {
    justify-content: space-between;  
    font-size: 24px;  
}

.footer {
    justify-content: center;
    font-size: 18px;
    padding-top: 2em;
    padding-bottom: 2em;
}

.blue-main {
    padding-top: 50px;
    padding-bottom: 100px;
    gap: 2em;
}

.top-left{
    flex-direction: column;
    flex-basis: 50%;
}
.top-left h1 {
    font-size: 48px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 8px;
}
.top-left p {
    font-size: 18px;
    color: #e5e7eb;
}
button {
    background-color: #3882f6;
    color:  #f9faf8;
    border-radius: 5px;
    padding: 5px 16px;
}

.top-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color:#f9faf8;
    align-self:stretch;
    flex-basis: 50%;
}
.white-main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-right: 100px;
    padding-left: 100px;
}

.white-main h1 {
    color:#1f2937;
    font-size: 36px;
    font-weight: 900;
}

.image-row {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}

.under-box {
width: 150px;
text-align: center;
font-size: 18px;
}

.image-row div {
    display: flex;
    flex-direction: column;
    flex: 1 0 150px;
    width: 150px;
    font-size: 18px;
}

.white-main img {
    border:#3882f6 solid 2px;
    border-radius: 8px;
    width: 150px;
    height: 150px;
}

.gray-main {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #e5e7eb;
        color: #1f2937;
        font-size: 36px;
        padding: 100px

}

.quote {
    font-weight: 400;
    font-style: italic;
}

.quoter {
    font-weight: 800;
    font-style: bold;
    align-self: flex-end;
}

.bottom-main {
    margin: 100px;
    padding: 50px;
    border-radius: 10px;
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
    justify-content: center;
}

.bottom-main div {
    align-self: center;
    flex: 3 1 auto;
}

.bottom-main button {
    border: #e5e7eb solid 1px;
    margin-left: 70px;
    padding: 5px 16px;
    align-self: center;
    flex-shrink: 0;
}